# Python / Flask
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
output/
ENV/
*.sqlite3
*.db
*.log
*.pot
*.py[cod]

# Environment files
.env

# IDE / OS
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/
*.iml
*.bak

# Docker
docker-compose.override.yml
*.tar
